@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
/*font-family: 'Electrolize', sans-serif;*/

.font-electro{
    font-family: 'Electrolize', sans-serif;
}
p{
    margin: 0;
}
.hover-blue{
    transition: background-color ease-in-out 0.6s;
    cursor: pointer;
}
.hover-blue:hover{
    background-color: cadetblue;
}