@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
/*font-family: 'Electrolize', sans-serif;*/
html{
    height: 100vh !important;
    min-height: 100vh !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.font-electro{
    font-family: 'Electrolize', sans-serif;
}
.font-times{
    font-family: Times New Roman, Times, serif;
}
p{
    margin: 0;
}

.hover-blue{
    transition: background-color ease-in-out 0.6s;
    cursor: pointer;
}

.hover-blue:hover{
    background-color: cadetblue;
}


.h-10{
    height: 10% !important;
}
.h-16{
    height: 16.6666% !important;
}
.h-20{
    height: 20% !important;
}
.h-40{
    height: 40% !important;
}
.h-60{
    height: 60% !important;
}

.hidden{
    visibility: hidden;
}
.cursor-pointer{
    cursor: pointer;
}

#theory-div{
    transition: border-color ease-in-out 0.4s, background-color ease-in-out 0.4s;
    border:transparent dashed 1px;
    background-color: #efefef;
}
#theory-div:hover{
    border-color: black;
}

#features-div{
    transition: border-color ease-in-out 0.4s, background-color ease-in-out 0.4s;
    border:transparent dashed 1px;
    background-color: #efefef;
}
#features-div:hover{
    border-color: black;
}
.go-back{
    font-size: 9pt;
    text-decoration: underline transparent;
}
.go-back:hover{
    color:mediumblue;
}

.feature{
    text-decoration: underline transparent;
}
.feature:hover{
    text-decoration-color: black;
}
#trigger-AI{
    background-color: #ffc300;
    color:black;
    font-size: 18pt;
    border-radius: 1px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out 0.2s,color ease-in-out 0.2s;
    cursor: pointer;
}

#trigger-AI:hover{
    background-color: black;
    color:white;
}
#stop-graphs{
    background-color: #ffc300;
    color:black;
    font-size: 18pt;
    border-radius: 1px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out 0.2s,color ease-in-out 0.2s;
    cursor: pointer;
}
#stop-graphs:hover{
    background-color: black;
    color:white;
}

.scale-75{
    transform: scale(0.75);
}



