@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
/*font-family: 'Electrolize', sans-serif;*/
html{
    height: 100vh !important;
    min-height: 100vh !important;
    overflow: hidden;
}

.font-electro{
    font-family: 'Electrolize', sans-serif;
}
p{
    margin: 0;
}
.hover-blue{
    transition: background-color ease-in-out 0.6s;
    cursor: pointer;
}
.hover-blue:hover{
    background-color: cadetblue;
}

.h-40{
    height: 40% !important;
}
.h-10{
    height: 10% !important;
}

.hidden{
    visibility: hidden;
}
.cursor-pointer{
    cursor: pointer;
}

#theory-div{
    transition: border-color ease-in-out 0.4s, background-color ease-in-out 0.4s;
    border:transparent dashed 1px;
    background-color: rgba(69, 245, 154, 0.5);
}
#theory-div:hover{
    border-color: black;
    background-color: rgba(69, 245, 154, 0.75);
}

#features-div{
    transition: border-color ease-in-out 0.4s, background-color ease-in-out 0.4s;
    border:transparent dashed 1px;
    background-color: rgba(45, 187, 168, 0.50);
}
#features-div:hover{
    border-color: black;
    background-color:  rgba(45, 187, 168, 0.75);
}
#go-back-features{
    font-size: 9pt;
    text-decoration: underline transparent;
}
#go-back-features:hover{
    color:mediumblue;
    text-decoration-color: mediumblue;
}

.feature{
    text-decoration: underline transparent;
}
.feature:hover{
    text-decoration-color: black;
}