{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Black Mystery</title>
    <script>
         const static_path = "{% static '' %}";
    </script>
    <script src="{% static 'js/etc/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/etc/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/etc/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/etc/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/etc/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/etc/close-button.css' %}">
    <link rel="stylesheet" href="{% static 'css/etc/snake3d.css' %}">

    <!--SNAKE FILES-->
    <script src="{% static 'js/three.min.js' %}"></script>
    <script src="{% static 'js/OrbitControls.js' %}"></script>
    <script src="{% static 'js/etc/functions.js' %}"></script>
    <!--GSAP-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script> <!--THIS REPLACE TimelineLite.js and TweenLite.js -->
    <script src="{% static 'js/etc/CSSPlugin.min.js' %}"></script>
    <script src="{% static 'js/etc/animation.gsap.min.js' %}"></script>
    <script src="{% static 'js/etc/animations.js' %}"></script>
    <script src="{% static 'js/Snake/VideoGame/Scene.js' %}"></script>
    <script src="{% static 'js/Snake/VideoGame/Snake.js' %}"></script>
    <script src="{% static 'js/Snake/VideoGame/Cell.js' %}"></script>
    <script src="{% static 'js/Snake/VideoGame/Apple.js' %}"></script>
    <script src="{% static 'js/Snake/VideoGame/Walls.js' %}"></script>
    <script src="{% static 'js/Snake/VideoGame/WallSelector.js' %}"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-light " style="background-color: #add9e8;width:100vw;overflow:hidden;">
            <div class="d-flex align-items-center">
                <img src="{% static 'imgs/snake-icon.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
                <a class="navbar-brand ml-3" href="#">Snake 3D</a>
            </div>
        </nav>
    </header>
   <main>
       <div class="container-fluid m-0 p-0 position-relative">
           <div class="row position-relative" style="width:100vw;">
               <div class="col-12 m-0 p-0"><!--CANVAS FOR SNAKE3D-GAME-->
                    <div id="canvas" style=" width: 100vw; height: 91vh;">
                    </div>
               </div>

               <div class="col-3 position-absolute h-100" id="left-nav"> <!--LEFT NAVIGATION BAR-->
                  {% include 'includes/leftNavBar.html' %}
                  {% include 'includes/featuresNav.html' %}
                  {% include 'includes/obstaclesFeature.html' %}
               </div>

               <div class="col-3 position-absolute h-100 p-0" style="right:0;transform: translateX(9%);"> <!--RIGHT NAVIGATION BAR-->
                   {% include 'includes/rightNavBar.html' %}
               </div>
           </div>
           <div class="row" style="height: 100vh">
               {% include 'includes/snakeMetrics.html' %}
           </div>

       </div>
   </main>
    <footer>

    </footer>
</body>
</html>