{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Black Mystery</title>
    <script>
         const static_path = "{% static '' %}";
    </script>
    <script src="{% static 'js/etc/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/etc/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/etc/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/etc/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/etc/checkbox.css' %}">

    <!--SNAKE FILES-->
    <script src="{% static 'js/three.min.js' %}"></script>
    <script src="{% static 'js/OrbitControls.js' %}"></script>
    <script src="{% static 'js/Snake/VideoGame/Scene.js' %}"></script>
    <script src="{% static 'js/Snake/VideoGame/Snake.js' %}"></script>
    <script src="{% static 'js/Snake/VideoGame/Cell.js' %}"></script>
    <script src="{% static 'js/Snake/VideoGame/Apple.js' %}"></script>
    <script src="{% static 'js/Snake/VideoGame/Obstacles.js' %}"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-light " style="background-color: #cee0e7;width:100vw;overflow: hide
">
            <div class="d-flex align-items-center">
                <img src="{% static 'imgs/snake-icon.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
                <a class="navbar-brand ml-3" href="#">Snake 3D</a>
            </div>
        </nav>
    </header>
   <main>
       <div class="container-fluid m-0 p-0 position-relative">
           <div class="row position-relative" style="width:100vw;">


               <div class="col-12 m-0 p-0">
                    <div id="canvas" style=" width: 100vw; height: 91vh;">
                    </div>
               </div>

               <div class="col-3 position-absolute h-100">
                   <div class="container-fluid shadow h-100" style="background-color:rgba(192,208,219,0.5)">
                       <div class="row justify-content-center align-items-center h-50">
                           <div id="obstacles-canvas" style="width: 200px; height: 200px; ">
                           </div>
                       </div>
                       <div class="row justify-content-center align-items-center h-50"></div>
                   </div>
               </div>

               <div class="col-3">

               </div>


           </div>
           <div class="position-absolute" style="top:0;right:0;transform: translateX(-30px)">
               <div class="bg-light">
                   <p class="m-0">Autorotacion</p>
                  {% include 'includes/checkbox.html' with id="auto-rotation" %}
               </div>
             </div>

       </div>
   </main>
    <footer>

    </footer>
</body>
</html>