                   <div class="container-fluid bg-light shadow-lg h-100 d-none" id="features-nav">
                       <div class="row h-25">
                           <div class="col-12 d-flex align-items-center justify-content-center ">
                              <p class="m-0 font-electro" style="font-size: 18pt; letter-spacing: 2px">
                                  Features
                              </p>
                          </div>
                       </div>
                      <div class="row h-10 cursor-pointer feature">
                          <div class="col-12 d-flex justify-content-center align-items-center">
                              <p class="m-0 font-electro" id="feature-grid">
                                  Set Up Grid Dimensions
                              </p>
                          </div>
                      </div>
                      <div class="row h-10 cursor-pointer feature">
                          <div class="col-12 d-flex justify-content-center align-items-center">
                              <p class="m-0 font-electro" id="feature-obstacles">
                                  Add Obstacles
                              </p>
                          </div>
                      </div>
                       <div class="row h-10 cursor-pointer feature">
                          <div class="col-12 d-flex justify-content-center align-items-center">
                              <p class="m-0 font-electro" id="feature-be-snake">
                                  Be The Snake Itself
                              </p>
                          </div>
                      </div>
                       <div class="position-absolute" style="bottom: 0; left:50%; transform: translateX(-50%) translateY(-20px)">
                           <p class="m-0 font-electro" style="color: rgba(0,0,0,0.4)">v1.0</p>
                       </div>
                       <div id="go-back-features" class="position-absolute cursor-pointer go-back" style="top:0; left:0; transform: translateX(5px) translateY(5px)">
                           <p class="m-0 font-electro" >
                              Go Back
                           </p>
                       </div>
                  </div>