{% load static %}
<div class="h-100 w-100" id="main-left-nav">
   <div class="container-fluid h-50 cursor-pointer" id="theory-container" >
     <div class="row align-items-center h-100" id="theory-div">
                   <div class="col-12 d-flex justify-content-center">
                       <p class="m-0 font-electro" style="font-size: 15pt">
                           Theory Behind
                       </p>
                   </div>
        <img class="position-absolute" style="bottom: 0;right: 0; transform: translateX(-12px) translateY(-12px)" src="{% static 'imgs/ai-icon-24.png' %}" alt="robot-icon">
     </div>
</div>
<div  class="container-fluid h-50 cursor-pointer position-relative" id="features-container" >
   <div class="row align-items-center h-100" id="features-div">
       <div class="col-12 d-flex justify-content-center ">
           <p class="m-0 font-electro" style="font-size: 15pt">
               Features
           </p>
       </div>
       <img class="position-absolute" style="bottom: 0;right: 0; transform: translateX(-12px) translateY(-12px)" src="{% static 'imgs/robot-icon-24.png' %}" alt="robot-icon">
   </div>
</div>

</div>
