<div class="container-fluid shadow h-100 d-none" style="background-color:rgba(192,208,219,0.5)">
    <div class="row justify-content-around align-items-center h-50 mx-2">
       <div class="col-4" >
           <div class="row justify-content-center">
               <p class="font-electro" style="color:#721c24;font-size: 14pt; font-weight: bold">X</p>
           </div>
           <div class="container-fluid" id="ob-x">
           </div>
       </div>
       <div class="col-4" >
           <div class="row justify-content-center">
               <p class="font-electro" style="color:#721c24;font-size: 14pt; font-weight: bold">Y</p>
           </div>
           <div class="container-fluid" id="ob-y">
           </div>
       </div>
       <div class="col-4">
            <div class="row justify-content-center">
               <p class="font-electro" style="color:#721c24;font-size: 14pt; font-weight: bold">Z</p>
           </div>
           <div class="container-fluid"  id="ob-z">
           </div>
       </div>
    </div>

    <div class="row justify-content-center h-10">
       <p class="m-0 font-electro">
           Current Obstacles:
       </p>
    </div>

    <div class="row justify-content-center align-items-center h-40" >
        <div class="col-12">
            <div class="container-fluid" id="coords-label">
            </div>
        </div>
    </div>
</div>