<div class="container-fluid bg-light shadow-lg h-100">
                       <div class="row h-60">
                           <div class="col-12">
                               <div class="container-fluid h-100">
                                         <div class="row mt-3">
                                             <div class="col-5 p-0 m-0">
                                                 <div class=" pl-3 my-2">
                                                    <p class="m-0 font-electro" style="font-size: 11.5pt">Max Score: </p>
                                                    <p class="m-0 font-electro font-italic" id="description-score" style="color:dodgerblue">0</p>
                                                </div>
                                             </div>
                                             <div class="col-7 p-0 m-0">
                                                 <div class=" pl-3 my-2">
                                                    <p class="m-0 font-electro" style="font-size: 11.5pt">Episode Iteration: </p>
                                                    <p class="m-0 font-electro font-italic" id="description-iteration" style="color:dodgerblue">0</p>
                                                </div>
                                             </div>
                                          </div>
                                        <div class="row">
                                            <div class=" pl-3 mt-2">
                                                 <p class="m-0 font-electro" style="font-size: 11.5pt">RL Method Name:</p>
                                                 <p class="m-0 font-electro font-italic" id="description-rl-method" style="color:#721c24">Monte Carlo</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class=" pl-3 mt-2">
                                                 <p class="m-0 font-electro" style="font-size: 11.5pt">SnakeLength:</p>
                                                 <p class="m-0 font-electro font-italic" id="description-snake-length" style="color:dodgerblue">1</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class=" pl-3 mt-2">
                                                 <p class="m-0 font-electro" style="font-size: 11.5pt">Grid Dimensions:</p>
                                                 <p class="m-0 font-electro font-italic" id="description-grid-size" style="color:#721c24">[ 4, 4 , 4 ]</p>
                                            </div>
                                        </div>
                                       <div class="row ">
                                           <div class=" pl-3 mt-2">
                                                 <p class="m-0 font-electro" style="font-size: 11.5pt">Number of Obstacles:</p>
                                                 <p class="m-0 font-electro font-italic" id="description-obstacles-counter" style="color:darkorange">0</p>
                                            </div>
                                        </div>
                               </div>
                           </div>
                       </div>
                          <div class="row h-20">
                              <div class="col-12">
                                  <div class="container-fluid">
                                      <div class="row justify-content-start align-items-center">
                                        <p class="m-0 font-electro font-italic" style="font-size: 11.5pt">
                                           Controls:
                                        </p>
                                        </div>
                                        <div class="row justify-content-center align-items-center">
                                                <p class="m-0 mr-4 font-electro" style="font-size: 11pt">Enable Autorotation</p>
                                               {% include 'includes/checkbox.html' with id="control-auto-rotation" %}
                                        </div>
                                        <div class="row justify-content-center align-items-center">
                                                <p class="m-0 mr-4 font-electro" style="font-size: 11pt">Enable Orbit Controls</p>
                                               {% include 'includes/checkbox.html' with id="control-orbit-controls" %}
                                        </div>
                                    </div>
                                  </div>
                              </div>
                       <div class="row h-20">
                            <div class="col-12 p-0 d-flex justify-content-center align-items-end">
                                <div id="trigger-AI">
                                    <p class="m-0">Start AI</p>
                                </div>
                            </div>
                       </div>
                   </div>