<div class="container-fluid bg-light shadow-lg h-100 d-none"  id="set-up-nav">
    <div class="row">
        <div class="col-12">
            <div class="row align-items-center mt-5">
                <p class="ml-4 p-0 ">
                    Speed:
                </p>
            </div>
            <div class="row justify-content-center">
                <input type="range" min="1" max="4" value="4" id="feature-input-speed">
            </div>
        </div>
    </div>
    <div class="row my-5">
        <input type="number" value="4" min="2" max="8" id="input-resize-x">
    </div>
    <div class="row my-5">
        <input type="number" value="4" min="2" max="8" id="input-resize-y">
    </div>
    <div class="row my-5">
        <input type="number" value="4" min="2" max="8" id="input-resize-z">
    </div>
     <div id="go-back-set-up" class="position-absolute cursor-pointer go-back" style="top:0; left:0; transform: translateX(5px) translateY(5px)">
       <p class="m-0 font-electro" >
          Go Back
       </p>
   </div>
</div>
