<div class="container-fluid bg-light shadow-lg h-100 d-none"  id="set-up-nav">
    <div class="row">
        <div class="col-12">
            <div class="row align-items-center mt-5">
                <p class="ml-4 p-0 font-electro ">
                    Snake speed
                </p>
            </div>
            <div class="row justify-content-center">
                <input type="range" min="1" max="4" value="2" id="feature-input-speed">
            </div>
        </div>
    </div>
    <div class="row align-items-center mt-5 mb-3">
        <p class="font-electro ml-4 ">Grid Set Up</p>
    </div>
    <div class="row mb-4 justify-content-center align-items-center">
        <p class="font-electro p-0 mx-2 ">X size:</p><input type="number" value="4" min="2" max="8" id="input-resize-x" size="2">
    </div>
    <div class="row my-4 justify-content-center">
        <p class="font-electro p-0 mx-2 ">Y size:</p> <input type="number" value="4" min="2" max="8" id="input-resize-y" size="2">
    </div>
    <div class="row my-4 justify-content-center">
        <p class="font-electro p-0 mx-2 ">Z size:</p> <input type="number" value="4" min="2" max="8" id="input-resize-z" size="2">
    </div>
    <div class="position-absolute" style="bottom: 0; left:50%; transform: translateX(-50%) translateY(-20px)">
        <p class="m-0 font-electro" style="color: rgba(0,0,0,0.4)">v1.0</p>
    </div>
     <div id="go-back-set-up" class="position-absolute cursor-pointer go-back" style="top:0; left:0; transform: translateX(5px) translateY(5px)">
       <p class="m-0 font-electro" >
          Go Back
       </p>
   </div>
</div>
