        <div class="container-fluid h-100" id="snake-metrics" >
            <div class="row h-100">
                <div class="col-3 justify-content-center align-items-center h-100" >
                    <div class="shadow h-100 mt-3" style="background-color: white;">
                        <div class="w-100 d-flex justify-content-around align-items-center pt-3">
                            <button>Varianza</button>
                            <button>Hipotesis</button>
                            <button>Otro Tema</button>
                        </div>
                    </div>
                </div>

                <div class="col-6 h-100">
                    <div class="container-fluid h-100">
                        <div class="row h-75">
                            <div class="col d-flex justify-content-center align-items-center">
                                GRAPH
                            </div>
                        </div>
                        <div class="row h-25">
                            <div class="col d-flex justify-content-center align-items-center">
                                <p>super graph stats</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-3 h-100">
                    <div class="container h-100">
                        <div class="row h-50">
                            <div class="col d-flex justify-content-center align-items-center">
                                <p>sub-graph</p>
                            </div>
                        </div>
                        <div class="row h-25">
                            <div class="col d-flex justify-content-center align-items-center">
                                <p>sub-graph</p>
                            </div>
                        </div>
                        <div class="row h-25">
                            <div class="col d-flex justify-content-center align-items-center">
                                <p>sub-graph</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
