        <div class="container-fluid h-100 d-none" id="snake-metrics">
            <div class="row h-100">
                <div class="col-3 justify-content-center align-items-center h-100" >
                    <div class="shadow h-100 bg-light mt-3">
                        <div class="container-fluid h-100">
                            <div class="row h-75">
                                <div class="col-12 d-flex justify-content-center align-items-center">
                                        <input type="number" value="4" id="metric-input-step">
                                </div>
                            </div>
                            <div class="row h-25 justify-content-center align-items-center font-electro font-weight-bold" style="background-color: rgb(255,131,0);font-size: 14pt" id="metric-download-policy">
                                Stop Graphs
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 h-100">
                    <div class="container-fluid h-100">
                        <div class="row h-60">
                            <div class="col d-flex justify-content-center align-items-center" id="graph-1">
                            </div>
                        </div>
                        <div class="row h-40">
                            <div class="col d-flex justify-content-center align-items-center" id="graph-2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 h-100">
                    <div class="container h-100">
                        <div class="row h-50">
                            <div class="col d-flex justify-content-center align-items-center" id="graph-3">
                            </div>
                        </div>
                        <div class="row h-25">
                            <div class="col d-flex justify-content-center align-items-center" id="graph-4">
                            </div>
                        </div>
                        <div class="row h-25">
                            <div class="col d-flex justify-content-center align-items-center" id="graph-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
