{% load static %}
<div class="container-fluid h-100 d-none pt-5" id="snake-theory">
    <div class="row h-100">
        <div class="col-6">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center pb-2">
                    <p class="font-electro" style="font-size: 26pt">Building Snake 3D videogame</p>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-8 shadow-lg" style="border: black dashed 1px;">
                        <div class="m-2" style="font-family: Times New Roman, Times, serif;">
                            <p>As a brief description, we are going to explain how we recreate the classic
                            <a href="https://is5-ssl.mzstatic.com/image/thumb/Purple128/v4/d6/a5/5d/d6a55d6c-4d75-1b38-3551-a9abf7f553d4/mzl.catlevwt.png/246x0w.jpg">Snake</a>
                               to the actual Snake 3D that you might previosly saw.
                                Explaining our implementation of Snake 3D's logic and how we manage
                                to achive this awesome recreation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center pb-2">
                    <p class="font-electro" style="font-size: 26pt">Building AI</p>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-8 shadow-lg" style="border: black dashed 1px;">
                        <div class="m-2" style="font-family: Times New Roman, Times, serif;">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>